@using RMarket.ClassLib.EntityModels;

@model IEnumerable<SettingModel>

@{
    ViewBag.Title = "Настройки стратегий";
}
@Html.ActionLink("Создать", "Edit", null, new { @class = "btn" })
@foreach (SettingModel m in @Model)
{
    <div class="well">
        <div class="pull-right">
            @Html.ActionLink("Изменить", "Edit", new { settingId = m.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Копировать", "Copy", new { settingId = m.Id }, new { @class = "btn btn-default" })
        </div>
        <strong class="h3">@m.Name</strong>
    </div>
}

