@using RMarket.WebUI.Models
@using System.Linq;

@model IEnumerable<MenuNavModel>

@foreach (var elem in Model)
{
    string primaryClass =elem.StrategyInfo.Id == ViewBag.CurStrategyInfoId ? "btn-primary" : "";
    <a href="@Url.Action("Index", new { strategyInfoId = elem.StrategyInfo.Id })" class="btn btn-block btn-default btn-lg @primaryClass">
@elem.StrategyInfo.Name
        <span class="badge">@elem.Count</span>
    </a>
}