@model RMarket.ClassLib.Entities.Selection

<a class="list-group-item" href="@Url.Action("Details", new { instanceId = Model.Id })" data-instanceId="@Model.Id" data-toggle="tooltip" data-placement="bottom">
    <strong class="h3">@Model.Name</strong>
    <time>@Model.CreateDate</time>
</a>
