@using RMarket.ClassLib.Entities;
@using System.Linq;

@model IQueryable<Selection>

@{ var strategies = Model.GroupBy(i => i.StrategyInfo).OrderBy(g => g.Key.Name).Select(g => new { StrategyInfo = g.Key, Count = g.Select(i => i.GroupID).Distinct().Count() });}
@foreach (var elem in strategies)
{
    string primaryClass =elem.StrategyInfo.Id == ViewBag.CurStrategyInfoId ? "btn-primary" : "";
    <a href="@Url.Action("Index", new { strategyInfoId = elem.StrategyInfo.Id })" class="btn btn-block btn-default btn-lg @primaryClass">
@elem.StrategyInfo.Name
        <span class="badge">@elem.Count</span>
    </a>
}